MI-HOPAC/MI-HOPAC/Connected Services/MiHomeacupService/MainWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDoctores">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pk" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDoctoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDoctoresResult" type="tns:ArrayOfDoctoresModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDoctoresModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DoctoresModel" nillable="true" type="tns:DoctoresModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DoctoresModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="m_Pk" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="m_Nombre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="m_Cedula" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="m_Ubicacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_TipoDeMedicina" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="getDoctoresSoapIn">
    <wsdl:part name="parameters" element="tns:getDoctores" />
  </wsdl:message>
  <wsdl:message name="getDoctoresSoapOut">
    <wsdl:part name="parameters" element="tns:getDoctoresResponse" />
  </wsdl:message>
  <wsdl:portType name="MainWebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDoctores">
      <wsdl:input message="tns:getDoctoresSoapIn" />
      <wsdl:output message="tns:getDoctoresSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MainWebServiceSoap" type="tns:MainWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDoctores">
      <soap:operation soapAction="http://tempuri.org/getDoctores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MainWebServiceSoap12" type="tns:MainWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDoctores">
      <soap12:operation soapAction="http://tempuri.org/getDoctores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MainWebService">
    <wsdl:port name="MainWebServiceSoap" binding="tns:MainWebServiceSoap">
      <soap:address location="https://localhost:44336/MainWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="MainWebServiceSoap12" binding="tns:MainWebServiceSoap12">
      <soap12:address location="https://localhost:44336/MainWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>