MI-HOPAC/MI-HOPAC/Connected Services/MiHomeacupService/MainWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCitas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pk" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCitasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCitasResult" type="tns:ArrayOfCitasModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCitasModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CitasModel" nillable="true" type="tns:CitasModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CitasModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="m_IdCitas" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_Fecha" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="m_FkPaciente" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_FkDoctor" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeleteCitas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pk" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCitasResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetCuentaDoctores">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pk" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCuentaDoctoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCuentaDoctoresResult" type="tns:ArrayOfCuentaDoctoresModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCuentaDoctoresModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CuentaDoctoresModel" nillable="true" type="tns:CuentaDoctoresModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CuentaDoctoresModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="m_IdCuentaDoctores" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="m_Correo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_FkDoctor" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeleteCuentaDoctores">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pk" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCuentaDoctoresResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetCuentaPacientes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pk" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCuentaPacientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCuentaPacientesResult" type="tns:ArrayOfCuentaPacientesModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCuentaPacientesModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CuentaPacientesModel" nillable="true" type="tns:CuentaPacientesModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CuentaPacientesModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="m_IdCuenta" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="m_Correo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="m_FkPaciente" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeleteCuentaPacientes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pk" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCuentaPacientesResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetDias">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pk" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDiasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDiasResult" type="tns:ArrayOfDiasModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDiasModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DiasModel" nillable="true" type="tns:DiasModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DiasModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="m_IdDia" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="m_Dia" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDoctores">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pk" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDoctoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDoctoresResult" type="tns:ArrayOfDoctoresModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDoctoresModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DoctoresModel" nillable="true" type="tns:DoctoresModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DoctoresModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="m_Pk" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="m_Nombre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="m_Cedula" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="m_Ubicacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_TipoDeMedicina" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetEventos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pk" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEventosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEventosResult" type="tns:ArrayOfEventosModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEventosModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EventosModel" nillable="true" type="tns:EventosModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EventosModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="m_IdEventos" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="m_Nombre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="m_Fecha" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="m_Ubicacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_Guia" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeleteEventos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pk" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteEventosResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsertEventos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fecha" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="ubicacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="guia" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fkDoctor" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertEventosResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateEventos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pk" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateEventosResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCitasSoapIn">
    <wsdl:part name="parameters" element="tns:GetCitas" />
  </wsdl:message>
  <wsdl:message name="GetCitasSoapOut">
    <wsdl:part name="parameters" element="tns:GetCitasResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteCitasSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteCitas" />
  </wsdl:message>
  <wsdl:message name="DeleteCitasSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteCitasResponse" />
  </wsdl:message>
  <wsdl:message name="GetCuentaDoctoresSoapIn">
    <wsdl:part name="parameters" element="tns:GetCuentaDoctores" />
  </wsdl:message>
  <wsdl:message name="GetCuentaDoctoresSoapOut">
    <wsdl:part name="parameters" element="tns:GetCuentaDoctoresResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteCuentaDoctoresSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteCuentaDoctores" />
  </wsdl:message>
  <wsdl:message name="DeleteCuentaDoctoresSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteCuentaDoctoresResponse" />
  </wsdl:message>
  <wsdl:message name="GetCuentaPacientesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCuentaPacientes" />
  </wsdl:message>
  <wsdl:message name="GetCuentaPacientesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCuentaPacientesResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteCuentaPacientesSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteCuentaPacientes" />
  </wsdl:message>
  <wsdl:message name="DeleteCuentaPacientesSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteCuentaPacientesResponse" />
  </wsdl:message>
  <wsdl:message name="GetDiasSoapIn">
    <wsdl:part name="parameters" element="tns:GetDias" />
  </wsdl:message>
  <wsdl:message name="GetDiasSoapOut">
    <wsdl:part name="parameters" element="tns:GetDiasResponse" />
  </wsdl:message>
  <wsdl:message name="GetDoctoresSoapIn">
    <wsdl:part name="parameters" element="tns:GetDoctores" />
  </wsdl:message>
  <wsdl:message name="GetDoctoresSoapOut">
    <wsdl:part name="parameters" element="tns:GetDoctoresResponse" />
  </wsdl:message>
  <wsdl:message name="GetEventosSoapIn">
    <wsdl:part name="parameters" element="tns:GetEventos" />
  </wsdl:message>
  <wsdl:message name="GetEventosSoapOut">
    <wsdl:part name="parameters" element="tns:GetEventosResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteEventosSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteEventos" />
  </wsdl:message>
  <wsdl:message name="DeleteEventosSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteEventosResponse" />
  </wsdl:message>
  <wsdl:message name="InsertEventosSoapIn">
    <wsdl:part name="parameters" element="tns:InsertEventos" />
  </wsdl:message>
  <wsdl:message name="InsertEventosSoapOut">
    <wsdl:part name="parameters" element="tns:InsertEventosResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateEventosSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateEventos" />
  </wsdl:message>
  <wsdl:message name="UpdateEventosSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateEventosResponse" />
  </wsdl:message>
  <wsdl:portType name="MainWebServiceSoap">
    <wsdl:operation name="GetCitas">
      <wsdl:input message="tns:GetCitasSoapIn" />
      <wsdl:output message="tns:GetCitasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCitas">
      <wsdl:input message="tns:DeleteCitasSoapIn" />
      <wsdl:output message="tns:DeleteCitasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCuentaDoctores">
      <wsdl:input message="tns:GetCuentaDoctoresSoapIn" />
      <wsdl:output message="tns:GetCuentaDoctoresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCuentaDoctores">
      <wsdl:input message="tns:DeleteCuentaDoctoresSoapIn" />
      <wsdl:output message="tns:DeleteCuentaDoctoresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCuentaPacientes">
      <wsdl:input message="tns:GetCuentaPacientesSoapIn" />
      <wsdl:output message="tns:GetCuentaPacientesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCuentaPacientes">
      <wsdl:input message="tns:DeleteCuentaPacientesSoapIn" />
      <wsdl:output message="tns:DeleteCuentaPacientesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDias">
      <wsdl:input message="tns:GetDiasSoapIn" />
      <wsdl:output message="tns:GetDiasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDoctores">
      <wsdl:input message="tns:GetDoctoresSoapIn" />
      <wsdl:output message="tns:GetDoctoresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEventos">
      <wsdl:input message="tns:GetEventosSoapIn" />
      <wsdl:output message="tns:GetEventosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEventos">
      <wsdl:input message="tns:DeleteEventosSoapIn" />
      <wsdl:output message="tns:DeleteEventosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertEventos">
      <wsdl:input message="tns:InsertEventosSoapIn" />
      <wsdl:output message="tns:InsertEventosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEventos">
      <wsdl:input message="tns:UpdateEventosSoapIn" />
      <wsdl:output message="tns:UpdateEventosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MainWebServiceSoap" type="tns:MainWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCitas">
      <soap:operation soapAction="http://tempuri.org/GetCitas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCitas">
      <soap:operation soapAction="http://tempuri.org/DeleteCitas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCuentaDoctores">
      <soap:operation soapAction="http://tempuri.org/GetCuentaDoctores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCuentaDoctores">
      <soap:operation soapAction="http://tempuri.org/DeleteCuentaDoctores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCuentaPacientes">
      <soap:operation soapAction="http://tempuri.org/GetCuentaPacientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCuentaPacientes">
      <soap:operation soapAction="http://tempuri.org/DeleteCuentaPacientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDias">
      <soap:operation soapAction="http://tempuri.org/GetDias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDoctores">
      <soap:operation soapAction="http://tempuri.org/GetDoctores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventos">
      <soap:operation soapAction="http://tempuri.org/GetEventos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEventos">
      <soap:operation soapAction="http://tempuri.org/DeleteEventos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertEventos">
      <soap:operation soapAction="http://tempuri.org/InsertEventos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEventos">
      <soap:operation soapAction="http://tempuri.org/UpdateEventos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MainWebServiceSoap12" type="tns:MainWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCitas">
      <soap12:operation soapAction="http://tempuri.org/GetCitas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCitas">
      <soap12:operation soapAction="http://tempuri.org/DeleteCitas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCuentaDoctores">
      <soap12:operation soapAction="http://tempuri.org/GetCuentaDoctores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCuentaDoctores">
      <soap12:operation soapAction="http://tempuri.org/DeleteCuentaDoctores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCuentaPacientes">
      <soap12:operation soapAction="http://tempuri.org/GetCuentaPacientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCuentaPacientes">
      <soap12:operation soapAction="http://tempuri.org/DeleteCuentaPacientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDias">
      <soap12:operation soapAction="http://tempuri.org/GetDias" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDoctores">
      <soap12:operation soapAction="http://tempuri.org/GetDoctores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventos">
      <soap12:operation soapAction="http://tempuri.org/GetEventos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEventos">
      <soap12:operation soapAction="http://tempuri.org/DeleteEventos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertEventos">
      <soap12:operation soapAction="http://tempuri.org/InsertEventos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEventos">
      <soap12:operation soapAction="http://tempuri.org/UpdateEventos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MainWebService">
    <wsdl:port name="MainWebServiceSoap" binding="tns:MainWebServiceSoap">
      <soap:address location="https://localhost:44336/MainWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="MainWebServiceSoap12" binding="tns:MainWebServiceSoap12">
      <soap12:address location="https://localhost:44336/MainWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>