MI-HOPAC/MI-HOPAC/Connected Services/MiHomeacupService/MainWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCuentaDoctores">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contrasena" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCuentaDoctoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCuentaDoctoresResult" type="tns:ArrayOfCuentaDoctoresModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCuentaDoctoresModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CuentaDoctoresModel" nillable="true" type="tns:CuentaDoctoresModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CuentaDoctoresModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="m_IdCuentaDoctores" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="m_Correo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="m_Medicina" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_FkDoctor" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCuentaDoctoresById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pk" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCuentaDoctoresByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCuentaDoctoresByIdResult" type="tns:ArrayOfCuentaDoctoresModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCuentaDoctores">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pk" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCuentaDoctoresResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsertCuentaDoctores">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="appellidos" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Contrasena" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Medicina" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertCuentaDoctoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertCuentaDoctoresResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCuentaPacientes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pk" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCuentaPacientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCuentaPacientesResult" type="tns:ArrayOfCuentaPacientesModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCuentaPacientesModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CuentaPacientesModel" nillable="true" type="tns:CuentaPacientesModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CuentaPacientesModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="m_IdCuenta" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="m_Correo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="m_FkPaciente" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeleteCuentaPacientes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pk" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCuentaPacientesResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetPacientes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fk" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPacientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPacientesResult" type="tns:ArrayOfPacienteModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPacienteModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PacienteModel" nillable="true" type="tns:PacienteModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PacienteModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="m_IdPaciente" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="m_Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_Apellidos" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="m_FkDoctorHomeopatia" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_FkDoctorAcupuntura" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_FkReceta" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDias">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pk" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDiasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDiasResult" type="tns:ArrayOfDiasModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDiasModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DiasModel" nillable="true" type="tns:DiasModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DiasModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="m_IdDia" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="m_Dia" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDoctores">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pk" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDoctoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDoctoresResult" type="tns:ArrayOfDoctoresModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDoctoresModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DoctoresModel" nillable="true" type="tns:DoctoresModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DoctoresModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="m_Pk" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="m_Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_Apellidos" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="m_Cedula" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="m_Ubicacion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeleteDoctores">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pk" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteDoctoresResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateDoctres">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pk" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ubicacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cedula" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDoctresResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetEventos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pk" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEventosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEventosResult" type="tns:ArrayOfEventosModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEventosModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EventosModel" nillable="true" type="tns:EventosModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EventosModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="m_IdEventos" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="m_Nombre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="m_Fecha" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="m_Ubicacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_Guia" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetEventosByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEventosByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEventosByNameResult" type="tns:ArrayOfEventosModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteEventos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pk" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteEventosResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsertEventos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fecha" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="ubicacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="guia" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fkDoctor" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertEventosResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateEventos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pk" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateEventosResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetNotasDig">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fk" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNotasDigResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNotasDigResult" type="tns:ArrayOfNotasDigitalesModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfNotasDigitalesModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="NotasDigitalesModel" nillable="true" type="tns:NotasDigitalesModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NotasDigitalesModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="m_IdNota" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="m_Text" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="m_Color" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="m_FkDoctor" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeleteNotaDig">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pk" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteNotaDigResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsertNotaDig">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="texto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="color" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fkDoctor" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertNotaDigResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateNotaDig">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pk" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="texto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="color" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateNotaDigResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetInventarioHomeopatia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pk" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInventarioHomeopatiaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInventarioHomeopatiaResult" type="tns:ArrayOfInventarioHomeopatiaModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInventarioHomeopatiaModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="InventarioHomeopatiaModel" nillable="true" type="tns:InventarioHomeopatiaModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InventarioHomeopatiaModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="m_IdInventarioHomeopatia" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="m_Nombre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="m_Potencia" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="m_Cantidad" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_FkDoctor" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeleteInventarioHomeopatia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pk" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteInventarioHomeopatiaResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsertInventarioHomeopatia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="potencia" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="cantidad" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fkDoctor" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertInventarioHomeopatiaResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateInventarioHomeopatia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="potencia" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="cantidad" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pk" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateInventarioHomeopatiaResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetInventarioAcupuntura">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pk" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInventarioAcupunturaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInventarioAcupunturaResult" type="tns:ArrayOfInventarioAcupunturaModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInventarioAcupunturaModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="InventarioAcupunturaModel" nillable="true" type="tns:InventarioAcupunturaModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InventarioAcupunturaModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="m_IdInventarioAcupuntura" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="m_Nombre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="m_Cantidad" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_FkDoctor" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeleteInventarioAcupuntura">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pk" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteInventarioAcupunturaResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsertInventarioAcupuntura">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cantidad" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fkDoctor" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertInventarioAcupunturaResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateInventarioAcupuntura">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cantidad" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pk" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateInventarioAcupunturaResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetCitas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fkDoctor" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCitasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCitasResult" type="tns:ArrayOfCitasModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCitasModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CitasModel" nillable="true" type="tns:CitasModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CitasModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="m_IdCitas" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_Fecha" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="m_FkPaciente" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="m_FkDoctor" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertCita">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fecha" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="fkPaciente" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fkDoctor" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertCitaResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCuentaDoctoresSoapIn">
    <wsdl:part name="parameters" element="tns:GetCuentaDoctores" />
  </wsdl:message>
  <wsdl:message name="GetCuentaDoctoresSoapOut">
    <wsdl:part name="parameters" element="tns:GetCuentaDoctoresResponse" />
  </wsdl:message>
  <wsdl:message name="GetCuentaDoctoresByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetCuentaDoctoresById" />
  </wsdl:message>
  <wsdl:message name="GetCuentaDoctoresByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetCuentaDoctoresByIdResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteCuentaDoctoresSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteCuentaDoctores" />
  </wsdl:message>
  <wsdl:message name="DeleteCuentaDoctoresSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteCuentaDoctoresResponse" />
  </wsdl:message>
  <wsdl:message name="InsertCuentaDoctoresSoapIn">
    <wsdl:part name="parameters" element="tns:InsertCuentaDoctores" />
  </wsdl:message>
  <wsdl:message name="InsertCuentaDoctoresSoapOut">
    <wsdl:part name="parameters" element="tns:InsertCuentaDoctoresResponse" />
  </wsdl:message>
  <wsdl:message name="GetCuentaPacientesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCuentaPacientes" />
  </wsdl:message>
  <wsdl:message name="GetCuentaPacientesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCuentaPacientesResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteCuentaPacientesSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteCuentaPacientes" />
  </wsdl:message>
  <wsdl:message name="DeleteCuentaPacientesSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteCuentaPacientesResponse" />
  </wsdl:message>
  <wsdl:message name="GetPacientesSoapIn">
    <wsdl:part name="parameters" element="tns:GetPacientes" />
  </wsdl:message>
  <wsdl:message name="GetPacientesSoapOut">
    <wsdl:part name="parameters" element="tns:GetPacientesResponse" />
  </wsdl:message>
  <wsdl:message name="GetDiasSoapIn">
    <wsdl:part name="parameters" element="tns:GetDias" />
  </wsdl:message>
  <wsdl:message name="GetDiasSoapOut">
    <wsdl:part name="parameters" element="tns:GetDiasResponse" />
  </wsdl:message>
  <wsdl:message name="GetDoctoresSoapIn">
    <wsdl:part name="parameters" element="tns:GetDoctores" />
  </wsdl:message>
  <wsdl:message name="GetDoctoresSoapOut">
    <wsdl:part name="parameters" element="tns:GetDoctoresResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteDoctoresSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteDoctores" />
  </wsdl:message>
  <wsdl:message name="DeleteDoctoresSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteDoctoresResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDoctresSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDoctres" />
  </wsdl:message>
  <wsdl:message name="UpdateDoctresSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDoctresResponse" />
  </wsdl:message>
  <wsdl:message name="GetEventosSoapIn">
    <wsdl:part name="parameters" element="tns:GetEventos" />
  </wsdl:message>
  <wsdl:message name="GetEventosSoapOut">
    <wsdl:part name="parameters" element="tns:GetEventosResponse" />
  </wsdl:message>
  <wsdl:message name="GetEventosByNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetEventosByName" />
  </wsdl:message>
  <wsdl:message name="GetEventosByNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetEventosByNameResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteEventosSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteEventos" />
  </wsdl:message>
  <wsdl:message name="DeleteEventosSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteEventosResponse" />
  </wsdl:message>
  <wsdl:message name="InsertEventosSoapIn">
    <wsdl:part name="parameters" element="tns:InsertEventos" />
  </wsdl:message>
  <wsdl:message name="InsertEventosSoapOut">
    <wsdl:part name="parameters" element="tns:InsertEventosResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateEventosSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateEventos" />
  </wsdl:message>
  <wsdl:message name="UpdateEventosSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateEventosResponse" />
  </wsdl:message>
  <wsdl:message name="GetNotasDigSoapIn">
    <wsdl:part name="parameters" element="tns:GetNotasDig" />
  </wsdl:message>
  <wsdl:message name="GetNotasDigSoapOut">
    <wsdl:part name="parameters" element="tns:GetNotasDigResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteNotaDigSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteNotaDig" />
  </wsdl:message>
  <wsdl:message name="DeleteNotaDigSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteNotaDigResponse" />
  </wsdl:message>
  <wsdl:message name="InsertNotaDigSoapIn">
    <wsdl:part name="parameters" element="tns:InsertNotaDig" />
  </wsdl:message>
  <wsdl:message name="InsertNotaDigSoapOut">
    <wsdl:part name="parameters" element="tns:InsertNotaDigResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateNotaDigSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateNotaDig" />
  </wsdl:message>
  <wsdl:message name="UpdateNotaDigSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateNotaDigResponse" />
  </wsdl:message>
  <wsdl:message name="GetInventarioHomeopatiaSoapIn">
    <wsdl:part name="parameters" element="tns:GetInventarioHomeopatia" />
  </wsdl:message>
  <wsdl:message name="GetInventarioHomeopatiaSoapOut">
    <wsdl:part name="parameters" element="tns:GetInventarioHomeopatiaResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteInventarioHomeopatiaSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteInventarioHomeopatia" />
  </wsdl:message>
  <wsdl:message name="DeleteInventarioHomeopatiaSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteInventarioHomeopatiaResponse" />
  </wsdl:message>
  <wsdl:message name="InsertInventarioHomeopatiaSoapIn">
    <wsdl:part name="parameters" element="tns:InsertInventarioHomeopatia" />
  </wsdl:message>
  <wsdl:message name="InsertInventarioHomeopatiaSoapOut">
    <wsdl:part name="parameters" element="tns:InsertInventarioHomeopatiaResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateInventarioHomeopatiaSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateInventarioHomeopatia" />
  </wsdl:message>
  <wsdl:message name="UpdateInventarioHomeopatiaSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateInventarioHomeopatiaResponse" />
  </wsdl:message>
  <wsdl:message name="GetInventarioAcupunturaSoapIn">
    <wsdl:part name="parameters" element="tns:GetInventarioAcupuntura" />
  </wsdl:message>
  <wsdl:message name="GetInventarioAcupunturaSoapOut">
    <wsdl:part name="parameters" element="tns:GetInventarioAcupunturaResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteInventarioAcupunturaSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteInventarioAcupuntura" />
  </wsdl:message>
  <wsdl:message name="DeleteInventarioAcupunturaSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteInventarioAcupunturaResponse" />
  </wsdl:message>
  <wsdl:message name="InsertInventarioAcupunturaSoapIn">
    <wsdl:part name="parameters" element="tns:InsertInventarioAcupuntura" />
  </wsdl:message>
  <wsdl:message name="InsertInventarioAcupunturaSoapOut">
    <wsdl:part name="parameters" element="tns:InsertInventarioAcupunturaResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateInventarioAcupunturaSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateInventarioAcupuntura" />
  </wsdl:message>
  <wsdl:message name="UpdateInventarioAcupunturaSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateInventarioAcupunturaResponse" />
  </wsdl:message>
  <wsdl:message name="GetCitasSoapIn">
    <wsdl:part name="parameters" element="tns:GetCitas" />
  </wsdl:message>
  <wsdl:message name="GetCitasSoapOut">
    <wsdl:part name="parameters" element="tns:GetCitasResponse" />
  </wsdl:message>
  <wsdl:message name="InsertCitaSoapIn">
    <wsdl:part name="parameters" element="tns:InsertCita" />
  </wsdl:message>
  <wsdl:message name="InsertCitaSoapOut">
    <wsdl:part name="parameters" element="tns:InsertCitaResponse" />
  </wsdl:message>
  <wsdl:portType name="MainWebServiceSoap">
    <wsdl:operation name="GetCuentaDoctores">
      <wsdl:input message="tns:GetCuentaDoctoresSoapIn" />
      <wsdl:output message="tns:GetCuentaDoctoresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCuentaDoctoresById">
      <wsdl:input message="tns:GetCuentaDoctoresByIdSoapIn" />
      <wsdl:output message="tns:GetCuentaDoctoresByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCuentaDoctores">
      <wsdl:input message="tns:DeleteCuentaDoctoresSoapIn" />
      <wsdl:output message="tns:DeleteCuentaDoctoresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertCuentaDoctores">
      <wsdl:input message="tns:InsertCuentaDoctoresSoapIn" />
      <wsdl:output message="tns:InsertCuentaDoctoresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCuentaPacientes">
      <wsdl:input message="tns:GetCuentaPacientesSoapIn" />
      <wsdl:output message="tns:GetCuentaPacientesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCuentaPacientes">
      <wsdl:input message="tns:DeleteCuentaPacientesSoapIn" />
      <wsdl:output message="tns:DeleteCuentaPacientesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPacientes">
      <wsdl:input message="tns:GetPacientesSoapIn" />
      <wsdl:output message="tns:GetPacientesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDias">
      <wsdl:input message="tns:GetDiasSoapIn" />
      <wsdl:output message="tns:GetDiasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDoctores">
      <wsdl:input message="tns:GetDoctoresSoapIn" />
      <wsdl:output message="tns:GetDoctoresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDoctores">
      <wsdl:input message="tns:DeleteDoctoresSoapIn" />
      <wsdl:output message="tns:DeleteDoctoresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDoctres">
      <wsdl:input message="tns:UpdateDoctresSoapIn" />
      <wsdl:output message="tns:UpdateDoctresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEventos">
      <wsdl:input message="tns:GetEventosSoapIn" />
      <wsdl:output message="tns:GetEventosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEventosByName">
      <wsdl:input message="tns:GetEventosByNameSoapIn" />
      <wsdl:output message="tns:GetEventosByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEventos">
      <wsdl:input message="tns:DeleteEventosSoapIn" />
      <wsdl:output message="tns:DeleteEventosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertEventos">
      <wsdl:input message="tns:InsertEventosSoapIn" />
      <wsdl:output message="tns:InsertEventosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEventos">
      <wsdl:input message="tns:UpdateEventosSoapIn" />
      <wsdl:output message="tns:UpdateEventosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNotasDig">
      <wsdl:input message="tns:GetNotasDigSoapIn" />
      <wsdl:output message="tns:GetNotasDigSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteNotaDig">
      <wsdl:input message="tns:DeleteNotaDigSoapIn" />
      <wsdl:output message="tns:DeleteNotaDigSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertNotaDig">
      <wsdl:input message="tns:InsertNotaDigSoapIn" />
      <wsdl:output message="tns:InsertNotaDigSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateNotaDig">
      <wsdl:input message="tns:UpdateNotaDigSoapIn" />
      <wsdl:output message="tns:UpdateNotaDigSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInventarioHomeopatia">
      <wsdl:input message="tns:GetInventarioHomeopatiaSoapIn" />
      <wsdl:output message="tns:GetInventarioHomeopatiaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteInventarioHomeopatia">
      <wsdl:input message="tns:DeleteInventarioHomeopatiaSoapIn" />
      <wsdl:output message="tns:DeleteInventarioHomeopatiaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertInventarioHomeopatia">
      <wsdl:input message="tns:InsertInventarioHomeopatiaSoapIn" />
      <wsdl:output message="tns:InsertInventarioHomeopatiaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateInventarioHomeopatia">
      <wsdl:input message="tns:UpdateInventarioHomeopatiaSoapIn" />
      <wsdl:output message="tns:UpdateInventarioHomeopatiaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInventarioAcupuntura">
      <wsdl:input message="tns:GetInventarioAcupunturaSoapIn" />
      <wsdl:output message="tns:GetInventarioAcupunturaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteInventarioAcupuntura">
      <wsdl:input message="tns:DeleteInventarioAcupunturaSoapIn" />
      <wsdl:output message="tns:DeleteInventarioAcupunturaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertInventarioAcupuntura">
      <wsdl:input message="tns:InsertInventarioAcupunturaSoapIn" />
      <wsdl:output message="tns:InsertInventarioAcupunturaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateInventarioAcupuntura">
      <wsdl:input message="tns:UpdateInventarioAcupunturaSoapIn" />
      <wsdl:output message="tns:UpdateInventarioAcupunturaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCitas">
      <wsdl:input message="tns:GetCitasSoapIn" />
      <wsdl:output message="tns:GetCitasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertCita">
      <wsdl:input message="tns:InsertCitaSoapIn" />
      <wsdl:output message="tns:InsertCitaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MainWebServiceSoap" type="tns:MainWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCuentaDoctores">
      <soap:operation soapAction="http://tempuri.org/GetCuentaDoctores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCuentaDoctoresById">
      <soap:operation soapAction="http://tempuri.org/GetCuentaDoctoresById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCuentaDoctores">
      <soap:operation soapAction="http://tempuri.org/DeleteCuentaDoctores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCuentaDoctores">
      <soap:operation soapAction="http://tempuri.org/InsertCuentaDoctores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCuentaPacientes">
      <soap:operation soapAction="http://tempuri.org/GetCuentaPacientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCuentaPacientes">
      <soap:operation soapAction="http://tempuri.org/DeleteCuentaPacientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPacientes">
      <soap:operation soapAction="http://tempuri.org/GetPacientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDias">
      <soap:operation soapAction="http://tempuri.org/GetDias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDoctores">
      <soap:operation soapAction="http://tempuri.org/GetDoctores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDoctores">
      <soap:operation soapAction="http://tempuri.org/DeleteDoctores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDoctres">
      <soap:operation soapAction="http://tempuri.org/UpdateDoctres" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventos">
      <soap:operation soapAction="http://tempuri.org/GetEventos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventosByName">
      <soap:operation soapAction="http://tempuri.org/GetEventosByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEventos">
      <soap:operation soapAction="http://tempuri.org/DeleteEventos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertEventos">
      <soap:operation soapAction="http://tempuri.org/InsertEventos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEventos">
      <soap:operation soapAction="http://tempuri.org/UpdateEventos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNotasDig">
      <soap:operation soapAction="http://tempuri.org/GetNotasDig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNotaDig">
      <soap:operation soapAction="http://tempuri.org/DeleteNotaDig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNotaDig">
      <soap:operation soapAction="http://tempuri.org/InsertNotaDig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateNotaDig">
      <soap:operation soapAction="http://tempuri.org/UpdateNotaDig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInventarioHomeopatia">
      <soap:operation soapAction="http://tempuri.org/GetInventarioHomeopatia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteInventarioHomeopatia">
      <soap:operation soapAction="http://tempuri.org/DeleteInventarioHomeopatia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertInventarioHomeopatia">
      <soap:operation soapAction="http://tempuri.org/InsertInventarioHomeopatia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateInventarioHomeopatia">
      <soap:operation soapAction="http://tempuri.org/UpdateInventarioHomeopatia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInventarioAcupuntura">
      <soap:operation soapAction="http://tempuri.org/GetInventarioAcupuntura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteInventarioAcupuntura">
      <soap:operation soapAction="http://tempuri.org/DeleteInventarioAcupuntura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertInventarioAcupuntura">
      <soap:operation soapAction="http://tempuri.org/InsertInventarioAcupuntura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateInventarioAcupuntura">
      <soap:operation soapAction="http://tempuri.org/UpdateInventarioAcupuntura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCitas">
      <soap:operation soapAction="http://tempuri.org/GetCitas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCita">
      <soap:operation soapAction="http://tempuri.org/InsertCita" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MainWebServiceSoap12" type="tns:MainWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCuentaDoctores">
      <soap12:operation soapAction="http://tempuri.org/GetCuentaDoctores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCuentaDoctoresById">
      <soap12:operation soapAction="http://tempuri.org/GetCuentaDoctoresById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCuentaDoctores">
      <soap12:operation soapAction="http://tempuri.org/DeleteCuentaDoctores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCuentaDoctores">
      <soap12:operation soapAction="http://tempuri.org/InsertCuentaDoctores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCuentaPacientes">
      <soap12:operation soapAction="http://tempuri.org/GetCuentaPacientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCuentaPacientes">
      <soap12:operation soapAction="http://tempuri.org/DeleteCuentaPacientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPacientes">
      <soap12:operation soapAction="http://tempuri.org/GetPacientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDias">
      <soap12:operation soapAction="http://tempuri.org/GetDias" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDoctores">
      <soap12:operation soapAction="http://tempuri.org/GetDoctores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDoctores">
      <soap12:operation soapAction="http://tempuri.org/DeleteDoctores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDoctres">
      <soap12:operation soapAction="http://tempuri.org/UpdateDoctres" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventos">
      <soap12:operation soapAction="http://tempuri.org/GetEventos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventosByName">
      <soap12:operation soapAction="http://tempuri.org/GetEventosByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEventos">
      <soap12:operation soapAction="http://tempuri.org/DeleteEventos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertEventos">
      <soap12:operation soapAction="http://tempuri.org/InsertEventos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEventos">
      <soap12:operation soapAction="http://tempuri.org/UpdateEventos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNotasDig">
      <soap12:operation soapAction="http://tempuri.org/GetNotasDig" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNotaDig">
      <soap12:operation soapAction="http://tempuri.org/DeleteNotaDig" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNotaDig">
      <soap12:operation soapAction="http://tempuri.org/InsertNotaDig" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateNotaDig">
      <soap12:operation soapAction="http://tempuri.org/UpdateNotaDig" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInventarioHomeopatia">
      <soap12:operation soapAction="http://tempuri.org/GetInventarioHomeopatia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteInventarioHomeopatia">
      <soap12:operation soapAction="http://tempuri.org/DeleteInventarioHomeopatia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertInventarioHomeopatia">
      <soap12:operation soapAction="http://tempuri.org/InsertInventarioHomeopatia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateInventarioHomeopatia">
      <soap12:operation soapAction="http://tempuri.org/UpdateInventarioHomeopatia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInventarioAcupuntura">
      <soap12:operation soapAction="http://tempuri.org/GetInventarioAcupuntura" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteInventarioAcupuntura">
      <soap12:operation soapAction="http://tempuri.org/DeleteInventarioAcupuntura" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertInventarioAcupuntura">
      <soap12:operation soapAction="http://tempuri.org/InsertInventarioAcupuntura" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateInventarioAcupuntura">
      <soap12:operation soapAction="http://tempuri.org/UpdateInventarioAcupuntura" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCitas">
      <soap12:operation soapAction="http://tempuri.org/GetCitas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCita">
      <soap12:operation soapAction="http://tempuri.org/InsertCita" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MainWebService">
    <wsdl:port name="MainWebServiceSoap" binding="tns:MainWebServiceSoap">
      <soap:address location="https://localhost:44336/MainWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="MainWebServiceSoap12" binding="tns:MainWebServiceSoap12">
      <soap12:address location="https://localhost:44336/MainWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>